{% extends "base.html" %}

{% block css %}
<style type="text/css">
.accent {
   background-color: #821E1E;
   height: 4px;
   width: 100%;
   position: relative;
   top: 0px;
}

.wide-img img {
   height: 500px;
   width: 100%;
   display: block;
}

.wide-img .darken {
   position: absolute;
   top: 50px;
   width: 100%;
   height: 500px;
   z-index: 1;
   background-color: black;
   opacity: 0.3;
}

#onboard-nav {
   color: white;
   position: relative;
   top: -400px;
   z-index: 2;
}

#onboard-nav-buttons {
   clear: both;
}

.onboard-nav-button-container {
   opacity: 0.8;
}

.onboard-nav-button-container:hover {
   opacity: 1.0;
}

.onboard-nav-button-container a {
   text-decoration: none;
}

#onboard-register {
   padding-bottom: 10px;
   text-align: center;
   font-size: 18px;
}

#onboard-skip {
   clear: both;
   padding-bottom: 20px;
   text-align: center;
   font-size: 18px;
}

.onboard-nav-button-inner {
   color: black;
   background-color: #f5f5f5;
   height: 200px;
   width: 200px;
   border: 3px solid #141414;
}

.onboard-nav-button-inner .heading-wrapper {
   margin-top: 50px;
   width: 180px;
   margin: 0 auto;
}

.onboard-nav-button-inner  .heading {
   font-size: 36px;
}

.onboard-nav-button-inner  .subheading {
   font-size: 24px;
}

#onboard-nav-right {
   margin-top: 30px;
   padding: 10px;
}

#onboard-nav-right h1 {
   margin-left: 20px;
}

</style>
{% endblock %}

{% block content-wrap %}
<div class="wide-img">
    <img src="{{ STATIC_URL }}/img/blurred-cactus.jpg">
    <div class="darken"></div>
</div>
{% endblock %}

{% block content %}

    <div id="onboard-nav" class="row clearfix">
        <div class="onboard-nav-left pull-left col-md-6">
            <div id="onboard-register">register as a</div>
            <div id="onboard-nav-buttons">
                <div class="onboard-nav-button-container pull-left">
                    <a href="#">
                        <div class="onboard-nav-button-inner">
                            <div class="accent"></div>
                            <div class="heading-wrapper">
                                <div class="heading">Publisher</div>
                                <div class="subheading"><span class="glyphicon glyphicon-arrow-right pull-left" style="color: grey;"></span><span class="pull-right" style="width: 150px;">Monetize your content</span></div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="onboard-nav-button-container pull-right">
                    <a href="#">
                        <div class="onboard-nav-button-inner">
                            <div class="accent"></div>
                            <div class="heading-wrapper">
                                <div class="heading">Advertiser</div>
                                <div class="subheading"><span class="glyphicon glyphicon-arrow-right pull-left" style="color: grey;"></span><span class="pull-right" style="width: 150px;">Promote your product</span></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div id="onboard-skip"><a href="#">skip this step</a></div>
        </div>
        <div id="onboard-nav-right" class="pull-right col-md-6">
            <h1>AdCactus connects companies with top influencers on social media sites</h1>
        </div>
    </div>

    <div class="row" style="position: relative; top: -200px;">

        <div class="col-lg-6 pull-right">
            <div style="background-color: #e5e5e5; width: 200px; height: 200px; -webkit-border-radius:100px; -moz-border-radius:100px; border-radius:100px; margin: 0 auto;">
                <h1 style="text-align: center;  padding-top: 82px;">Publisher</h1>
            </div>
            <div class="text-center">
                <h2>Monetize your content</h2>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
                <p><a class="btn btn-default" href="#">View details »</a></p>
            </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-6 pull-left">
            <div style="background-color: #e5e5e5; width: 200px; height: 200px; -webkit-border-radius:100px; -moz-border-radius:100px; border-radius:100px; margin: 0 auto;">
                <h1 style="text-align: center; padding-top: 82px;">Advertiser</h1>
            </div>
            <div class="text-center">
                <h2>Promote your product</h2>
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
                <p><a class="btn btn-default" href="#">View details »</a></p>
            </div>
        </div><!-- /.col-lg-4 -->
    </div>
{% endblock %}
