body {
    font-family: "Droid Sans";
    padding-bottom: 40px;
}

.content {
    width: 900px;
    margin: 0 auto;
}

.header {
    box-shadow: 0 2px 3px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 2px 3px rgba(0,0,0,0.3);
}

.header-inner {
    font-family: "Droid Sans";
    font-size: 18px;
}

#logo img {
    height: 50px;
}

.header-nav-link {
    position: relative;
    top: 16px;
}

.header-inner #browse {
    right: 20px;
}

.header-inner #signin {
    color: black;
}

.footer {
    padding-top: 20px;
}